.kaufman {
    background-color: #1f1f1f;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 90px;
    padding-top: 90px;
    overflow: hidden;
  }