.page {
  min-width: 1100px; 
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}
 
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
}

.logo {
 z-index: 1;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
width: 730px;
font-size: 102px;
line-height: 96px;
font-weight: bold;
position: absolute;
left: 64px;
z-index: 3;
padding-top: 250px; 
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
left: 64px;
z-index: 3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}




.content {
  
}

.description {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 600px;
  max-height: 756px;
}

.two-columns {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color:#2f80ed;
}

.two-columns__main-text {
  font-size: 24px;
  line-height: 34px;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
}

.two-columns__span-accent {
  font-weight: bold;
}



.digits {
width: 1100px;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
position: relative;
  min-height: 600px;
  max-height: 756px;
}

.section-title {
 width: 60%;
 margin: 0 0 20px;
 font-size: 60px;
 line-height: 1.15;
 font-weight: bold;
 display: flex;
 justify-content: center;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0 0;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: auto;
  margin: 20px 0;
}



.feynman {
  height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  min-height: 600px;
  max-height: 756px;
}

.feynman__title_one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  z-index: 2;
}

.feynman__link {
 position: absolute;
 top: 50%;
 right: 48px;
 line-height: 51px;
 font-size: 36px;
 z-index: 2;
 text-decoration: none;
 color:#2f80ed;
}

.feynman_main_illustration {
  position: absolute;
  min-height: 600px;
  max-height: 756px;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}




.kaufman {
  background-color: #1f1f1f;
  color: #f2f2f2;
  overflow: hidden;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  height: 877px;
  width: 877px;
  /*bacground-size размер фона то есть картинки*/
  position: absolute;
  top: 0;
  right: -210px;
}

.section-title__theme_dark {
  margin-bottom: 20px;
}

.section-subtitle__theme_dark {
  
}

.table__theme_dark {
  margin: 80px 0 90px;
  
}

.cell__theme_dark {
  z-index: 2;
  width: 200px;
  margin-top: 80px;
}

.double {
  display: flex;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}





.footer {
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  
}
  
.footer__columns {
  height: 250px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.column__content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  height: 35px;
  width: 135px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
}

.column__content_info {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-heading {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.column__content_social {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  margin: 0 0 20px;
}

.footer__social-icon {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}


.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.image-icon {
  height: 16px;
  width: 16px;
}